.categories > span{
    margin-right: 30px;
    
   
}

img{
    width: 100%;
}

.handbag{
    background-image: url(../images/handbag.jpg);
    background-position: center;
}

.watch{
    background-image: url(../images/watch.jpg);
    background-position: center;
}

.shoes{
    background-image: url(../images/shoes.jpg);
    background-position: center;
}


.first-grid-container{
    display: grid;
    grid-template-areas: 
    
        "group group group"
        "handbag watch shoes";
        grid-gap: 20px;


}

.card{
    min-height: 600px;
}


    

footer{
    display: grid;
    grid-template-areas:
    "information customer extras account"
    
    ;

}

ul{
list-style-type: none;
}

.card-img-top{
    height: 50%;
    object-fit: cover;
    min-height: 500px;
    padding: 5px;
    
}

.component{
    padding-bottom: 10px;
}



@media(max-width:992px){

    p{
        font-size: 14px;
    }

}

@media(max-width:768px){
    
    p{
        font-size: 12px;
    } 
}

   

@media (max-width:576px){
    
    p{
        font-size: 12px;
    }


    .categories > span{
        margin-right: 2px;
        font-size: 12px;

    }

    footer{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    h4{
        font-size: 14px;
    }
    .first-grid-container{
        display: flex;
        flex-direction: column;
    }
}



